.terminal-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--popup-background-color);
  width: 100%;
  border-top: 1px solid var(--popup-border-color);
  border-bottom: 1px solid var(--popup-border-color);
  border-radius: 2px;
  overflow: hidden;
  z-index: 107;
  box-shadow: 0px -10px 15px -6px var(--box-shadow-color);
  box-sizing: border-box;
  transition: opacity 0.5s ease-in-out; 
  .terminal-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    cursor: row-resize;
    touch-action: none;
    border-bottom: 1px solid var(--popup-border-color);
    height: 28px;
    .session-info {
      display: flex;
      align-items: center;
      .pointer-indicator {
        width: 10px;
        height: 10px;
        background-color: var(--button-background-color);
        margin-right: 8px;
        border-radius: 50%;
        box-shadow: 0 0 8px var(--button-background-color);
      }
      .session-name {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .action-buttons {
      display: flex;
      gap: 10px;
      transition: opacity 0.3s ease;
    
      .search-input-container {
        position: relative;
        align-items: center;
        display: none;
    
        input {
          max-width: 0;
          padding: 8px;
          margin-bottom: 8px;
          border: none;
          border-bottom: 1px solid var(--button-background-color);
          transition: max-width 0.3s ease, display 0.3s ease;
        }
        &.show {
          display: flex;
        }
      }
      .action-button {
        background-color: transparent;
        color: var(--primary-text-color);
        border: none;
        cursor: pointer;
        font-size: 18px;
        padding: 5px;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease,
          transform 0.2s ease;
    
        &:active {
          background-color: var(--active-icon-color);
        }
      }
    }
  }
  .terminal-content {
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    background: inherit;
    width: 100%;
  }
}
.show-terminal-btn {
  height: 35px;
  width: 35px;
  background: var(--button-background-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  position: fixed;
  bottom: 70px;
  left: 29px;
  z-index: 115;
  border-radius: 50%;
  place-items: center;
  touch-action: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.hide {
  display: none;
  opacity: 0;
}
