.terminal-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 107;
    display: flex;
    flex-direction: column;
    background-color: var(--popup-background-color);
    border-top: 1px solid var(--popup-border-color);
    box-shadow: 0 -2px 6px var(--box-shadow-color);
    overflow: hidden;
    .terminal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        cursor: move;
        background: var(--primary-color);
        box-shadow: 0 1px 6px var(--box-shadow-color);
        h3{
            margin: 0;
        }
        .arrowBtns{
            display: flex;
            justify-content: space-between;
            align-content: center;
            .upArrowBtn{
                font-size: 17px;
                height: 27px;
                width: 27px;
                border-radius: 10px;
                background: var(--active-icon-color);
                border: none;
                color: var(--primary-text-color);
                margin-right: 5px;
            }
            .downArrowBtn{
                font-size: 17px;
                height: 27px;
                width: 27px;
                border-radius: 10px;
                background: var(--active-icon-color);
                border: none;
                color: var(--primary-text-color);
            }
        }
        .control-btn{
            display: flex;
            justify-content: space-between;
            align-content: center;
            .cd-btn{
                font-size: 18px;
                height: 27px;
                width: 27px;
                border-radius: 10%;
                background: var(--link-text-color);
                border: none;
                font-weight: 400;
                margin-right: 8px;
            }
            .hide-terminal-btn{
                font-size: 22px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background: var(--active-icon-color);
                border: none;
                font-weight: 700;
                color: var(--primary-text-color);
                margin-right: 8px;
            }
            .close-terminal-btn{
                font-size: 17px;
                height: 27px;
                width: 27px;
                border-radius: 50%;
                background: var(--error-text-color);
                border: none;
                color: var(--primary-text-color);
            }
        }
    }
    .terminal-content{
        flex-grow: 1;
        overflow-y: auto;
        box-sizing: border-box;
        max-height: 80vh;
        .custom-context-menu {
            position: absolute;
            z-index: 109;
            display: none;
            background-color: var(--popup-background-color);
            border: 1px solid var(--popup-border-color);
            padding: 8px 15px;
            border-radius: 8px;
            box-shadow: 0 0 6px var(--box-shadow-color);
        }
    }
}
.show-terminal-btn{
    font-size: 22px;
    height: 30px;
    width: 30px;
    font-weight: 700;
    background: var(--button-background-color);
    border: none;
    color: var(--primary-text-color);
    position: absolute;
    bottom: 0;
    left: 29px;
    z-index: 107;
    border-start-start-radius: 30%;
    border-start-end-radius: 30%;
}
.hide{
    display: none;
}