.terminal-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 107;
    display: flex;
    flex-direction: column;
    background-color: var(--popup-background-color);
    border-top: 1px solid var(--popup-border-color);
    box-shadow: 0 -2px 6px var(--box-shadow-color);
    overflow: hidden;
    .terminal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 28px;
        padding: 5px;
        cursor: move;
        border-top: 1px solid var(--border-color);
        background: var(--primary-color);
        box-shadow: 0 1px 6px var(--box-shadow-color);
        h3{
            margin: 0;
        }
        .control-btn{
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 0;
            box-sizing: border-box;
            height: 100%;
            .cd-btn{
                height: 100%;
                width: 30px;
                border-radius: 10px;
                background: transparent;
                border: none;
                margin-right: 8px;
                color: var(--primary-text-color);
                transition: all 0.3s ease-in-out;
                &:active{
                    background: var(--active-icon-color);
                }
            }
            .hide-terminal-btn{
                font-size: 22px;
                height: 100%;
                width: 30px;
                border-radius: 10px;
                background: transparent;
                border: none;
                color: var(--primary-text-color);
                margin-right: 8px;
                transition: all 0.3s ease-in-out;
                &:active{
                    background: var(--active-icon-color);
                }
            }
            .close-terminal-btn{
                font-size: 19px;
                font-weight: 700;
                height: 100%;
                width: 30px;
                border-radius: 10px;
                background: transparent;
                border: none;
                color: var(--primary-text-color);
                transition: all 0.3s ease-in-out;
                &:active{
                    background: var(--error-text-color);
                }
            }
        }
    }
    .terminal-content{
        flex-grow: 1;
        overflow-y: auto;
        box-sizing: border-box;
        max-height: 80vh;
        background: inherit;
        .custom-context-menu {
            position: absolute;
            z-index: 109;
            display: none;
            background-color: var(--popup-background-color);
            border: 1px solid var(--popup-border-color);
            padding: 8px 15px;
            border-radius: 8px;
            box-shadow: 0 0 6px var(--box-shadow-color);
        }
    }
}
.show-terminal-btn{
    height: 35px;
    width: 35px;
    background: var(--button-background-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    position: fixed;
    bottom: 70px;
    left: 29px;
    z-index: 115;
    border-radius: 50%;
    place-items: center;
    box-shadow: -5px 5px 20px 0px var(--box-shadow-color);
    svg{
        height: 17px;
        width: 17px;
    }
}
.hide{
    display: none;
}